 /* General */

body {
    width: 800px;
    margin: 0 auto;
  }
/* Typography */

/* Styling the products display */

  .item img {
    width: 200px;
    height: 200px; 
}

/* Form styling */  

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  aside {
    display: flex;
    align-items: stretch;
    background: url(images/phone_globe.jpg) no-repeat 50% center;
    padding: 50px 0;
  }

  /* block styling */  

header {
    border: 5px solid black;
    border-bottom: 0;
  }
  
  aside {
    border-right: 5px solid black;
  }
  
  
  body > div {
    border: 5px solid black;
    display: flex;
  }
  
  
  footer {
    border: 5px solid black;
    border-top: 0;
  }


